<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </div>
  <div class="row mb-3">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Today`s Responses</div>
              <% todays_response = SurvayResponse.get_response_by_date(Date.today, current_user).count%>
              <% yesterdays_response = SurvayResponse.get_response_by_date(Date.today - 1.day, current_user).count%>
              <% percentage = ((todays_response - yesterdays_response)/yesterdays_response)*100 rescue 100%>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= todays_response %></div>
              <div class="mt-2 mb-0 text-muted text-xs">
                <span class="text-<%= percentage >= 0 ? 'success' : 'danger' %> mr-2"><i class="fa fa-arrow-<%= percentage >= 0 ? 'up' : 'down' %>"></i> <%= percentage%>%</span>
                <span>Since last day</span>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-primary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Total Survays</div>
              <% till_last_day = @survays.select{|s| s.created_at < Date.today }.count rescue 0 %>
              <% total = @survays.count rescue 0 %>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= total %></div>
              <div class="mt-2 mb-0 text-muted text-xs">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> <%= (total - till_last_day)/(total).to_f * 100 rescue 0%>%</span>
                <span>Since last day</span>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-shopping-cart fa-2x text-success"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- New User Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Total Responses</div>
              <% total_responses = @total_responses %>
              <% yesterdays_response = (total_responses-todays_response) %>
              <% percentage = ((todays_response - yesterdays_response)/yesterdays_response)*100 rescue 100%>
              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= "#{todays_response}" %></div>
              <div class="mt-2 mb-0 text-muted text-xs">
                <span class="text-<%= percentage >= 0 ? 'success' : 'danger' %> mr-2"><i class="fa fa-arrow-<%= percentage >= 0 ? 'up' : 'down' %>"></i> <%= percentage.round(2)%>%</span>
                <span>Since last day</span>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-info"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Pending Requests</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
              <div class="mt-2 mb-0 text-muted text-xs">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span>Since yesterday</span>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-warning"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Weekly Report</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="myAreaChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- Pie Chart -->

    <div class="col-xl-4 col-lg-5 ">
      <div class="card">
        <div class="card-header py-4 bg-primary d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-light">Save New Survay</h6>
        </div>
        <%# <div> %>
        <div class="row">
        <div class="col-sm-10  offset-sm-1"><br>
          <%= render :partial => "/layouts/survay_form"%>
        </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-7 mb-4">
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Survay Response</h6>
          <a class="m-0 float-right btn btn-danger btn-sm" href="/home/survay-response">View More <i
              class="fas fa-chevron-right"></i></a>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th>Survay Id</th>
                <th>Rating</th>
                <th>Response</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            <% SurvayResponse.where(:survay_id => @survays.map(&:id)).includes(:survay).last(10).reverse.each do |survay_response|%>
              <tr>
                <td><a href="/home/survay/<%= survay_response.survay_id%>"><%= survay_response.survay_id%></a></td>
                <td><%= survay_response.points%></td>
                <td>
                  <%= survay_response.response.first(10)%>
                  <%if survay_response.response.length > 10%>
                  ... 
                  <%end%>
                </td>
                <td><span class="badge badge-success">Received</span></td>
                <td><a href="/home/survay/<%= survay_response.survay_id%>" class="btn btn-sm btn-primary">Detail</a></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <!-- Message From Customer-->
    <div class="col-xl-4 col-lg-5">
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Survay report</h6>
        </div>
        <div class="card-body">
          <% @survays.last(6).reverse.each do |survay| %>
          <% color = ['success', 'danger', 'info', 'warning']%>
          <% survay_rsponse = survay.survay_responses %>
          <% 
            survay_score = (survay_rsponse.sum(:points).to_f / (survay.total_points * survay_rsponse.count)) * 100 
            survay_score = 0 if survay_score.nan?
          %>
          <div class="mb-3">
            <div class="small text-gray-500"><%= survay.title.first(15) rescue ""%>
              <div class="small float-right"><b><%= "#{survay_rsponse.count} response#{survay_rsponse.count > 1 ? "s" : '' }, Score: " %><%= survay_score.round(2)%>%</b></div>
            </div>
            <div class="progress" style="height: 12px;">
              <div class="progress-bar bg-<%= color.sample %>" role="progressbar" style="width: <%= survay_score %>%" aria-valuenow="80"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <% end%>
        </div>
        <div class="card-footer text-center">
          <a class="m-0 small text-primary card-link" href="/home/survays">View More <i
            class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>