<!DOCTYPE html>
<html>
<head>
  <title>Ssurvay</title>

  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render :partial => '/layouts/home_css_assets'%>
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <%= render :partial => '/layouts/sidebar'%>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- NavBar -->
        <%= render :partial => '/layouts/navbar'%>
        <!-- NavBar -->

        <!-- Container Fluid-->
        <%= yield %>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
        <%= render :partial => '/layouts/logout_modal'%>
        <%= render :partial => '/layouts/footer'%>
      <!-- Footer -->
    </div>
  </div>
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <%= render :file => 'layouts/_home_js_assets'%>
  <% if action_name == "index"%>
  <%= render :file => '/layouts/_chart' %>
  <% end %>
</body>

</html>